*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.feature-icon-small {
    width: 3rem;
    height: 3rem;
}
.links:hover {
    text-decoration: underline;
}
.sign-up a{
    text-decoration: none;
    color: white;
}
#login:hover {
    background: lightblue;
}
body {
    background: rgb(208, 207, 255);
    
}
.cart-t{
    background: skyblue;
}
